apiVersion: apps/v1
kind: Deployment
metadata:
    name: myapp-deployment
    labels:
        app: nginx
        tier: frontend
spec:
  strategy:
    type: RollingUpdate
  replicas: 3
  selector:
    matchLabels:
        tier: frontend
  template:
      metadata:
        name: nginx-1
        labels:
          tier: frontend
      spec:
        containers:
          - name: nginx
            image: nginx